CSS notes, *open with IDE, not browser*

Basics: CSS stands for Cascading Style Sheets
        describes how HTML elements are to be displayed on screen, paper, or in other media
        comments: /*  */


--Syntax: selector and declaration: p {color: red;}
        element selector for a entire element: p <p>
        class selector for a group of elements: p.center <p class="center">
        id selector for one element: p#para1 <p id="para1">
        combine multiple selecters: 
            h1, h2, p {  }
            p.center {  }


Insert css: external: for entire website
                <head>
                    <link rel="stylesheet" type="text/css" href="mystyle.css">
                </head>
            internal: for a single webpage
                <head>
                    <style>
                        body { }
                    </style>
                </head>    
            inline: for one element
                <h1 style="color:blue;">This is a heading.</h1>    
            muiltiple style defined the latest will be used             


Colors: see laerning notes html-Colors


Background: <style="background-color: lightblue;">
            body {background:url(../img/paper.jpg) //no-repeat center center scroll/*can also be fixed*/}


Border: border width, style and color:
         {border: 5px solid red}


Margin: {margin-}


Padding: padding top, right, bottom and left:
          {padding: 50px 30px 50px 80px;}


Width and height: {width:;} {height:;} {max-width: }


Text: alignment:
       {text-align: center;} {text-align: justify;} 
      remove underlines from links:
       {text-decoration: none;}
      lowercase, uppercase adn capitalization:
       {text-transform: capitalize;}
      indentation:
       {text-indent: 50px;}
      specify the space between lines:
       {line-height: 0.8;} 
      specify the space between the words:
       {word-spacing: -5px;} 


Font: family: {font-family: } {font-style: } {font-size: }


Link: style a link, more in the 'Pseudo class' 
      a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }

      a:hover, a:active {
        background-color: red;
      }


List: see List in html learning note


Table: see Table in html learning note


Box model: margin+border+padding = content size
           div {
            width: 320px;
            padding: 10px;
            border: 5px solid gray;
            margin: 0;
           }
           total width = 350px
      

Outline: drawn outside the borders to make the element "stand out":
          {outline-style: } {outline-color: } {outline-width: }


Display: see Block in html learning note


Max-width: see layout in html learning note


Position: {position: fixed; bottom: 0;right: 0;} {position: relative;} 
          {position: absolute;top: 80px;right: 0;width: 200px;height: 100px;}
          

Float & align: Bootstrap has them built in with its grid system
       

Combinators: p is the parent; div is the child;
             descendant selector: all the children of an element:
              div p {  } 
             child selector: immediate children of a specified element:
              div > p {  }
             sibling Selector: not a child of an element: 
              div ~ p {  }

               
Pseudo-class: general form: selector:pseudo-class {  }
              :link  :visited  :hover  :active
              can be combined with CSS class: a.sth:hover {  }


Pseudo-element: general form:  selector::pseudo-element { }


Navigation bar: build navigation bar from a standard HTML list;
                Bootstrap has it built in, more in Boot strap learning notes;


Dropdown: Bootstrap has it built in, more in Boot strap learning notes;


Tooltip: Bootstrap has it built in, more in Boot strap learning notes;


Image: More in Bootstrap learning notes;


Attribute selector: style specific attributes or attribute values;
                    for specific attributes: 
                     a[target] {  } target is the attribute;
                    for specific attribute value: 
                     a[target="_blank"] { }


Form: general format: input[type=  ] {  }
      more detail of form in html learning note;











